name: Generate Real Snake Animation

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  snake:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Create real snake animation
        uses: ouuan/github-snake@main
        with:
          github_user_name: Arav-Arun
          gif_out_path: dist/real-snake.svg
          snake_color: "#00ff6e"
          background_color: "#0d1117"

      - name: Publish animation
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: output
          publish_dir: dist
